<div class="title-container">
  <h1>{{title}}</h1>

  {{#if user}}
    <a href="/mobs/add" class="btn btn-info">Add a Mob</a>
  {{/if}}
</div>

{{! List of Mobs }}
<table>
  <thead>
    <th>Image</th>
    <th>Name</th>
    <th>HP</th>
    <th>Attack</th>
    <th>Item Held</th>
    <th>Items Dropped</th>
    <th>Description</th>
    <th>Game Version</th>
    <th>Actions</th>
  </thead>
  <tbody>
    {{! Retrieve all projects and loop }}
    {{#each dataset}}
      <tr>
        <td><img src={{this.imageURL}} alt="Image of {{this.name}}"/></td>
        <td>{{this.name}}</td>
        <td>{{this.hp}}</td>
        <td>{{this.attack}}</td>
        <td>{{this.itemHeld}}</td>
        <td>{{this.itemsDropped}}</td>
        <td>{{this.description}}</td>
        <td>{{this.gameVersion}}</td>
         <td>
          <div class="actions-container">
            <button class="btn btn-outline-primary summon-button" data-command="{{getSummonCommand this.name this.gameVersion}}">Copy Summon</button>
            {{#if ../user}}
              <a href="/mobs/edit/{{this._id}}" class="btn btn-primary btn-sm">Edit</a>
              <a href="/mobs/delete/{{this._id}}" class="btn btn-danger btn-sm" onclick="return deleteConfirmation()">Delete</a>
            {{/if}}
          </div>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
